{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
        <h1>Welcome To Camera Feed</h1>
                
        <!-- <button id="search_form_input" class="btn btn-large btn-block btn-default">Turn Off</button>
        <div id="place_for_suggestions">
            <img  src=" {{url_for_camera}}" alt="">         
        </div> -->
        <!-- <a href="http://meet.jit.si/1081064/" target="">Open</a> -->
        <!-- <iframe src="http://meet.jit.si/pd1081064/" frameborder="10" height="600" width="800"></iframe> -->
        <!-- <iframe src="http://localhost:8082/stream.flv/" frameborder="10" height="600" width="800"></iframe> -->
        <div id="paytm">
            <iframe src="http://p-y.tm/z8aUMkQN0" frameborder="10" height="600" width="800"></iframe>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        

	<!-- <script src="{{ url_for('static', filename='camera.js') }}"></script> -->
        <script>
            
            $("#search_form_input").click(function(){
                var text = $(this).val();
                $.ajax({
                    url: "/cam_off",
                    type: "get",
                    //data: {jsdata: text},
                    success: function(response) {
                        console.log("Cam Off")
                        //$("#place_for_suggestions").html(response);
                    },
                    error: function(xhr) {
                        //Do Something to handle error
                    }
                });   
            });
            
        </script>
       
        <!-- <div id="video-container">
            <video id="camera-stream" width="800" height="400" autoplay></video>
        </div> -->
        <!-- <script>
            window.onload = function() {
                
                // Normalize the various vendor prefixed versions of getUserMedia.
                navigator.getUserMedia = (navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || 
                navigator.msGetUserMedia);
                // Check that the browser supports getUserMedia.
                // If it doesn't show an alert, otherwise continue.
                if (navigator.getUserMedia) {
                    // Request the camera.
                    navigator.getUserMedia(
                        // Constraints
                        {
                            audio : true,
                            video: { width: 1280, height: 720 }
                        },
                        
                        // Success Callback
                        function(localMediaStream) {
        // Get a reference to the video element on the page.
        var vid = document.getElementById('camera-stream');
        
        // Create an object URL for the video stream and use this 
        // to set the video source.
        vid.src = window.URL.createObjectURL(localMediaStream);
        },
        
        // Error Callback
        function(err) {
            // Log the error to the console.
            console.log('The following error occurred when trying to use getUserMedia: ' + err);
        }
        );
        
    } else {
        alert('Sorry, your browser does not support getUserMedia');
    }
    
}
</script> -->


<div class="select">
    <label for="audioSource">Audio source: </label><select id="audioSource"></select>
</div>

<div class="select">
    <label for="videoSource">Video source: </label><select id="videoSource"></select>
</div>

<video autoplay></video>

<script>
    const videoElement = document.querySelector('video');
    const audioSelect = document.querySelector('select#audioSource');
    const videoSelect = document.querySelector('select#videoSource');
    
    navigator.mediaDevices.enumerateDevices()
    .then(gotDevices).then(getStream).catch(handleError);
    
    audioSelect.onchange = getStream;
    videoSelect.onchange = getStream;
    
    function gotDevices(deviceInfos) {
        for (var i = 0; i !== deviceInfos.length; ++i) {
            var deviceInfo = deviceInfos[i];
            var option = document.createElement('option');
            option.value = deviceInfo.deviceId;
            if (deviceInfo.kind === 'audioinput') {
                option.text = deviceInfo.label ||
                'microphone ' + (audioSelect.length + 1);
                audioSelect.appendChild(option);
            } else if (deviceInfo.kind === 'videoinput') {
                option.text = deviceInfo.label || 'camera ' +
                (videoSelect.length + 1);
                videoSelect.appendChild(option);
            } else {
                console.log('Found one other kind of source/device: ', deviceInfo);
            }
        }
    }
    
    function getStream() {
        if (window.stream) {
            window.stream.getTracks().forEach(function(track) {
                track.stop();
            });
        }
        
        var constraints = {
            audio: {
                deviceId: {exact: audioSelect.value}
            },
            video: {
                deviceId: {exact: videoSelect.value}
            }
        };
        
        navigator.mediaDevices.getUserMedia(constraints).
        then(gotStream).catch(handleError);
    }
    
    function gotStream(stream) {
        window.stream = stream; // make stream available to console
  videoElement.srcObject = stream;
}

function handleError(error) {
  console.error('Error: ', error);
}
</script>
</div>

{% endblock %} -->
