<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>UI - Ayushman Bhava</title>
<!--
Snapshot Template
http://www.templatemo.com/tm-493-snapshot

Zoom Slider
https://vegas.jaysalvat.com/

Caption Hover Effects
http://tympanus.net/codrops/2013/06/18/caption-hover-effects/
-->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
  	<link rel="stylesheet" href="../static/css/component.css">
	
    <link rel="stylesheet" href="../static/css/owl.theme.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/css/vegas.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
  <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


<!-- Preloader section -->

<!-- <div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div>
 -->

<!-- Navigation section  -->

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand smoothScroll">Ayushman Bhava</a>
      </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('purchase')}}" class="smoothScroll"><span>Home</span></a></li>
            <li><a href="{{url_for('home')}}" class="smoothScroll"><span>Main Menu</span></a></li>
            <!-- <li><a href="#gallery" class="smoothScroll"><span>Gallery</span></a></li> -->
            <!-- <li><a href="#contact" class="smoothScroll"><span>Contact</span></a></li> -->
          </ul>
       </div>

    </div>
  </div>
<section id="about">
  <div class="container">
    <div class="row">

<!--       <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-thumb">
          <h1>Background</h1>
          <p>Quisque tempor bibendum dolor at volutpat. Suspendisse venenatis quam sed libero euismod feugiat. In cursus nisi vitae lectus facilisis mollis. Nullam scelerisque, quam nec iaculis vulputate.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
        <img src="images/about-img.jpg" class="img-responsive img-circle" alt="About">
      </div> -->

      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title text-center">
          <h1>CATALOGUE</h1>
          <h3>Select a category for the item.</h3>
        </div>
      </div>

      <!-- team carousel -->
      <div id="team-carousel" class="owl-carousel">

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/team-img1.jpg" class="img-responsive img-circle" alt="Mary">
          </div>
          <h2 class="heading">Sexual Hygiene</h2>
          <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="0s">See Items</a></br>
          <!-- <p class="description"></p> -->
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/team-img2.jpg" class="img-responsive img-circle" alt="Jack">
          </div>
          <h2 class="heading">Tablets</h2>
          <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="0s">See Items</a></br>
          <!-- <p class="description">Maecenas sed diam eget risus varius blandit sit non.</p> -->
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/team-img3.jpg" class="img-responsive img-circle" alt="Linda">
          </div>
          <h2 class="heading">Syrups</h2>
          <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="0s">See Items</a></br>
          <!-- <p class="description">Phasellus nec ante in nunc molestie tincidunt ut eu diam.</p> -->
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/team-img4.jpg" class="img-responsive img-circle" alt="Sandy">
          </div>
          <h2 class="heading">First Aid</h2>
          <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="0s">See Items</a></br>
          <!-- <p class="description">Curabitur vulputate euismod neque et tincidunt.</p> -->
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/team-img5.jpg" class="img-responsive img-circle" alt="Lukia">
          </div>
          <h2 class="heading">Special Items</h2>
          <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="0s">See Items</a></br>
          <!-- <p class="description">Maecenas sed diam eget risus varius blandit sit.</p> -->
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="../static/images/team-img6.jpg" class="img-responsive img-circle" alt="George">
          </div>
          <h2 class="heading">Allergy</h2>
          <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="0s">See Items</a></br>
          <!-- <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing.</p> -->
        </div>
      </div>

      </div>
      <!-- end team carousel -->

    </div>
  </div>
</section>
<!-- 
<section id="gallery">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title" data-wow-delay="0.3s">
          <h1>Make a Purchase</h1>
          <p>Browse through the following categories :).</p>
        </div>
      </div>

      <ul class="grid cs-style-4">
        <li class="col-md-6 col-sm-6">
          <figure>
            <div><img src="images/gallery-img1.jpg" alt="image 1"></div>
            <figcaption>
              <h1>Sapien arcu</h1>
              <small>Cum sociis natoque penatibus et magnis dis parturient montes.</small>
              <a href="#">Read More</a>
            </figcaption>
          </figure>
        </li>

        <li class="col-md-6 col-sm-6">
          <figure>
            <div><img src="images/gallery-img2.jpg" alt="image 2"></div>
            <figcaption>
              <h1>Aliquam erat</h1>
              <small>Suspendisse venenatis quam sed libero euismod feugiat.</small>
              <a href="#">Details</a>
            </figcaption>
          </figure>
        </li>

        <li class="col-md-6 col-sm-6">
          <figure>
            <div><img src="images/gallery-img3.jpg" alt="image 3"></div>
            <figcaption>
              <h1>Cras ante sem</h1>
              <small>Aenean urna massa, convallis vehicula velit et, dictum pellentesque nisi.</small>
              <a href="#">Learn More</a>
            </figcaption>
          </figure>
        </li>

        <li class="col-md-6 col-sm-6">
          <figure>
            <div><img src="images/gallery-img4.jpg" alt="image 4"></div>
            <figcaption>
              <h1>Sed ornare</h1>
              <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
              <a href="#">Full Post</a>
            </figcaption>
          </figure>
        </li>
      </ul>

    </div>
  </div>
</section> -->

<!-- Javascript  -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/vegas.min.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/toucheffects.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/custom.js"></script>
<!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
</body>
</html>